// PALLETE APPLICATION
$primary-color: #3b4cca;
$danger-color: #cc0000;
$info-color: #c06651;
$secondary-color: #ffde00;
$background-color: #f1f2f6;

// FONTS
$font-quicksand: 'Quicksand', sans-serif;
$font-VT: 'VT323', monospace;
$title-size: 2em;

// POKEMON COLORS
$pokemon-black: #585858;
$pokemon-blue: #3088f0;
$pokemon-brown: #b07030;
$pokemon-gray: #a0a0a0;
$pokemon-green: #40b868;
$pokemon-pink: #f890c8;
$pokemon-purple: #a868c0;
$pokemon-red: #f05868;
$pokemon-white: #d2d2d2;
$pokemon-yellow: #f0d048;
