.pokemon-wrapper {
  &__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: stretch;
    column-gap: 10px;
    row-gap: 10px;
  }
  @media (max-width: 930px) {
    &__list {
      grid-template-columns: auto auto;
    }
  }

  @media only screen and (max-width: 600px) {
    &__list {
      grid-template-columns: auto;
    }
  }

  &__pagination {
    margin: 20px 0;
    text-align: center;
  }
}
