@import './../../assets/scss/variables.scss';

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #bfbfbf;
  font-family: $font-quicksand;
  display: grid;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 13px 4px gray;
    transition: all 1s ease;
  }

  &__hp {
    justify-self: self-end;
    margin-top: 10px;
    margin-right: 10px;

    &__icon {
      height: 15px;
      margin-right: 5px;
      color: $danger-color;
    }
    &__amount {
      font-weight: 700;
      font-size: 1.6em;
    }
    &__name {
      color: silver;
    }
  }

  &__title {
    font-family: $font-VT;
    font-size: 1.5em;
    text-transform: capitalize;
    color: $primary-color;
    text-align: center;
    margin-bottom: 5px;
  }

  &__separator {
    height: 2px;
    background-color: silver;
    width: 200px;
    justify-self: center;
    border-radius: 30px;
  }

  &__data {
    font-family: $font-VT;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
    margin-top: 10px;

    &__column {
      justify-self: center;
      text-align: center;

      &__title {
        font-size: 2em;
        // color: silver;
      }

      &__name {
        // color: $danger-color;
        color: silver;
      }
    }
  }
}
